.buttonBar{
  position: absolute; 
  left: 260px ; right: 0; bottom: 0px; 
}

.buttonBar button{
  margin: 5px;
}

.area{
  text-align: center;
  margin: 10px 0 0 260px
}

.messageLog {
  width: 95%;  
  height: 70vh;
  overflow-y: auto;
  margin: 10px auto;
  text-align: left;
}