body{
  margin:0;
  display:grid;
}

.area{
  text-align: center;
  width:100%;  
  margin: 10px 0 0 0
}

.messageLog { 
  width:100%;
  height: calc(88vh - 66px);
  overflow-y: auto;
  text-align: left;
}
@media only screen and (max-width: 960px) {
  .messageLog {
    height: calc(88vh - 149px);
  }
}

.buttonGrid{
  grid-row-start:2;
  grid-row-end:3;
  /* background: #42A5F5; */
  /* color: white; */
  /* padding: 20px; */
}

.buttonGrid > * > Button{
  height:12vh;
  width: 100%
}


.itemValue{
  padding:4px;
  height:40px;
  line-height: 40px;
  text-align: center;
}

.itemCaption{
  padding:4px 0 0 4px;
}

.itemName{
  padding: 0 0 4px 4px
}

.inventoryItem{
  width:216px;
  margin-left:12px;
}

.moneybagIcon{
  transform:transformY(2px);
  margin-right:4px;
  height:18px;
}