body{
  margin:0;
}

.area{
  text-align: center;
  width:100%;  
  margin: 10px 0 0 0
}

.messageLog { 
  width:100%;
  height: 62vh;
  overflow-y: auto;
  
  text-align: left;
}

.buttonGrid > * > Button{
  height:12vh;
  width: 100%
}


.itemValue{
  padding:4px;
  height:40px;
  line-height: 40px;
  text-align: center;
}

.itemCaption{
  padding:4px 0 0 4px;
}

.itemName{
  padding: 0 0 4px 4px
}

.inventoryItem{
  width:216px;
  margin-left:12px;
}

.moneybagIcon{
  transform:transformY(2px);
  margin-right:4px;
  height:18px;
}